@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap');


:root{
    --primary-color: #2D2424;
    --secondary-color: #5C3D2E;
    --tertiary-color: #B85C38;
    --light-color: #E0C097;

    --offwhite-color: #F6F5F5;
    
    --primary-font-color: #5C3D2E;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Mulish', sans-serif;
    font-size:  1.6rem;

    color: var(--primary-font-color)
}
/* ------------NAVIGATION-------------------*/

nav{
    background-color: var(--primary-color);
    padding: 2rem;

}

nav ul {
    display: flex;
    justify-content: end;

    list-style: none;
}

nav ul li {
    margin-right: 3rem;
}

nav ul li:first-child{
    margin-right: auto;
    margin-left: 3rem;

    font-weight: bold;
}

nav ul li a {
    color: var(--offwhite-color);
    text-decoration: none;

}

/* ------------------------------------- */

/* ------------HEADER - HERO------------------------- */

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero-img {
    max-width: 35rem;

    margin: auto;
    display: block;
    
}

.hero-heading {
    color: var(--primary-color);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    
}
/* ------------------------------------- */

/* ------------SECTION-------------------*/

section{
    padding: 5rem;
    
}



section h1{
    color: var(--primary-color);
    margin: 1rem;
    /* text-align: center; */
}

section p {
    padding: 1rem 1rem 1rem 0.5rem;
    margin: 1rem;
    line-height: 200%;
}

.off-white {
    background-color: var(--offwhite-color);
}
/* ------------------------------------- */

/* ------------LINK-------------------*/

.link {
    text-decoration: none;
    padding: .7rem 1rem;
    text-align: center;

    transform: translateX(1.2rem);
    
}

.link-primary {
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    color: var(--offwhite-color);
    display: inline-block;
    max-width: 14rem;
    margin: 0rem 1rem 1rem 0rem;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

}

.link-secondary {
    border: 1px solid var(--tertiary-color);
    border-radius: 0.5rem;
    color: var(--primary-color);

    display: inline-block;
    max-width: 14rem;
    margin: 1rem 1rem 1rem 0rem;
   
    
}

/* ------------CONTAINER--------------- */

.container{
    padding: 0 1rem 0 1rem;
}

.container-center {
    max-width: 60rem;
    margin: auto; 
}

/* ------------Footer--------------- */

footer{
    padding: 3rem;
    background-color: var(--primary-color);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer ul li a{
    text-decoration: none;
    color: var(--offwhite-color);
}